<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- Folha de estilo -->
<h:outputStylesheet library="css" name="style.css"/>
<!-- Folha de estilo -->

<!-- Bootstrap -->
<h:outputStylesheet library="bootstrap/css" name="bootstrap.css"/>
<h:outputStylesheet library="bootstrap/css" name="bootstrap-theme.css"/>
<h:outputScript library="bootstrap/js" name="bootstrap.js" />
<!-- Bootstrap -->

<!-- JQuery Mobile -->
<h:outputStylesheet library="css" name="jquery.mobile-1.4.5.css"/>
<h:outputScript library="jquery" name="jquery.mobile-1.4.5.js" />
<!-- JQuery Mobile -->

<!-- JQuery -->
<h:outputScript library="jquery" name="jquery-1.11.3.js" />
<!-- JQuery -->

<!-- JQuery Mask -->
<h:outputScript library="jquery" name="jquery.maskMoney.js" />
<h:outputScript library="jquery" name="jquery.mask.min.js" />
<h:outputScript library="jquery" name="jquery.maskedinput.js" />
<!-- JQuery Mask -->

<!-- Script -->
<h:outputScript library="js" name="common.js" />
<!-- Script -->

<title><ui:insert name="titulo">Gerenciador de Despesas</ui:insert></title>
</h:head>
<h:body>
			<div id="header">			
				<h:link outcome="home">
					<h:graphicImage library="imagens" name="logo_1.png" id="logo" />					
				</h:link>						
				<h:outputText value="Bem-vindo #{usuarioBean.dadosUser}" class="bemvindo hidden-xs hidden-sm" /> 
														
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout"><h:graphicImage library="imagens/icon" name="icon-sair.png" id="logout" /></h:outputLink>
				<!-- <h:link outcome="usuario-editmeuusuario"><h:graphicImage library="imagens/icon" name="icon-user-edit.png" id="edit-user" /></h:link> -->
				<h:link outcome="#" ><h:graphicImage library="imagens/icon" name="icon-dialog.png" id="msg-dialog" /></h:link>
				<h:link outcome="#" ><h:graphicImage library="imagens/icon" name="icon-alert.png" id="user-alert" /></h:link>
				
				<div style="clear:both"></div>
			</div><!-- Fim da DIV header -->
	
		<div class="container">
	
			<ui:insert name="conteudo">
				Espaço para o conteúdo da tela				
			</ui:insert>	
	
	</div>
	
	<div class="container">
		<div id="footer" style="text-align:center">
			<!-- <hr />
			2015. Todos os direitos reservados. -->
		</div>
		</div>	
</h:body>
</html>