<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- Folha de estilo -->
<h:outputStylesheet library="css" name="style.css"/>
<!-- Folha de estilo -->

<!-- Bootstrap -->
<h:outputStylesheet library="bootstrap/css" name="bootstrap.css"/>
<h:outputStylesheet library="bootstrap/css" name="bootstrap-theme.css"/>
<h:outputScript library="bootstrap/js" name="bootstrap.js" />
<!-- Bootstrap -->

<!-- JQuery Mobile -->
<h:outputStylesheet library="css" name="jquery.mobile-1.4.5.css"/>
<h:outputScript library="jquery" name="jquery.mobile-1.4.5.js" />
<!-- JQuery Mobile -->

<!-- JQuery -->
<h:outputScript library="jquery" name="jquery-1.11.3.js" />
<!-- JQuery -->

<!-- JQuery Mask -->
<h:outputScript library="jquery" name="jquery.maskMoney.js" />
<h:outputScript library="jquery" name="jquery.mask.min.js" />
<h:outputScript library="jquery" name="jquery.maskedinput.js" />
<!-- JQuery Mask -->

<!-- Script -->
<h:outputScript library="js" name="common.js" />
<!-- Script -->

<title><ui:insert name="titulo">Gerenciador de Despesas</ui:insert></title>
</h:head>
<h:body>

			<div id="header">
				<!-- <h:form style="float:left;">
				<h:link value="Home" outcome="home" />
				</h:form> -->
							
				<div style="clear:both"></div>
			</div><!-- Fim da DIV header -->
	
		<div class="container">

	
			<ui:insert name="conteudo">Espaço para o conteúdo da tela</ui:insert>
		
		
	
	
	</div>
	<div class="container">
		<div id="footer" style="text-align:center">
			<hr />
			2015. Todos os direitos reservados.
		</div>
		</div>	
</h:body>
</html>