<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition template="/WEB-INF/templates/default.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="titulo">
    	<h:outputText value="Admin-Administradores" />
	</ui:define>
		
	<ui:define name="conteudo">
				
		<div class="col-md-offset-2">
	
			<div class="row">
				<h:form>
					<h:commandLink action="admin-form" class="btn btn-default btn-lg" value="Novo Administrador">
						<f:setPropertyActionListener value="admin" target="#{usuarioBean.destinoSalvar}" />
					</h:commandLink>	
					<h:link outcome="home" class="btn btn-default btn-lg" value="Cancelar" />
				</h:form>
			</div>
		
		<div class="row">
			<div class="col-md-10">
				<hr/>
				<ui:include src="admin-list.xhtml" />
			</div>
		</div>
	</div>			
				
	</ui:define>		
</ui:composition>