<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition template="/WEB-INF/templates/login-template.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="titulo">
    	<h:outputText value="Admin-Administradores" />
	</ui:define>
	
	<ui:define name="conteudo">
		<h:form>
			<FIELDSET>
				<LEGEND>#{usuarioBean.legenda}</LEGEND>
				<h:inputHidden value="#{usuarioBean.usuario.tipo}" />
				<h:inputHidden value="#{usuarioBean.usuario.ativo}" />
				<h:inputHidden value="#{usuarioBean.formDestino}" />
				<h:inputHidden value="#{usuarioBean.destinoSalvar}" />
				
				
				<div class="row">
					<div class="col-md-10 col-md-offset-0">
						<h:commandButton class="btn btn-default btn-lg" action="#{usuarioBean.salvar}" value="Salvar" />
						<h:link outcome="login" class="btn btn-default btn-lg" value="Cancelar" />						
					</div>
				</div>	<!-- FIM - ROW - botão-->
				<br/>
				<div class="row">
					<div class="col-md-3 col-md-offset-0">
						<div class="form-group">
      						<h:outputLabel value="Nome" for="nome" /><span class="errorlog">*</span>
      							<h:inputText name="nome" id="nome" class="form-control" label="Nome" value="#{usuarioBean.usuario.nome}" required="true" requiredMessage="Esse usuário não tem um nome?">
									<f:validateLength minimum="3" maximum="150" for="nome"/>
									<h:message class="errorlog" for="nome" />	
								</h:inputText>
    					</div>
    				</div>
    				
    				<div class="col-md-3">
						<div class="form-group">
      						<h:outputLabel value="Sobrenome" for="sobrenome" /><span class="errorlog">*</span>
      							<h:inputText name="sobrenome" id="sobrenome" class="form-control" label="Sobrenome" value="#{usuarioBean.usuario.sobrenome}" required="true" requiredMessage="Esse usuário precisa de um sobrenome">
									<f:validateLength minimum="3" maximum="150" for="sobrenome"/>
									<h:message class="errorlog" for="sobrenome" />	
								</h:inputText>
    					</div>
    				</div>   				
    		
    				<div class="col-md-3">
						<div class="form-group">
      						<h:outputLabel value="E-Mail" for="email" /><span class="errorlog">*</span>
      							<h:inputText name="email" id="email" class="form-control" label="E-Mail" value="#{usuarioBean.usuario.email}" required="true" requiredMessage="Esse usuário não tem um e-mail?">
									<f:validateLength minimum="1" maximum="100" for="email" />
									<h:message class="errorlog" for="email" />	
								</h:inputText>							
							</div>							
    					</div>
    					
    				<div class="col-md-3">
						<div class="form-group">
      						<h:outputLabel value="CPF" for="cpf" />
      							<h:inputText name="cpf" id="cpf" class="cpf form-control" label="CPF" value="#{usuarioBean.usuario.cpf}">
									<f:validateLength minimum="3" maximum="50" for="cpf"/>
									<h:message class="errorlog" for="cpf" />	
								</h:inputText>
    					</div>
    				</div>
    				
    				<div class="col-md-2">
						<div class="form-group">
      						<h:outputLabel value="Telefone" for="telefone" />
      							<h:inputText name="telefone" id="telefone" class="tel form-control" label="Telefone" value="#{usuarioBean.usuario.telefone}">
									<f:validateLength minimum="3" maximum="50" for="telefone"/>
									<h:message class="errorlog" for="telefone" />	
								</h:inputText>
    					</div>
    				</div>
    				
    				<div class="col-md-2">
						<div class="form-group">
      						<h:outputLabel value="Data Nasc." for="nascimento" />
      							<h:inputText name="nascimento" id="nascimento" class="date form-control" label="Data Nasc." value="#{usuarioBean.usuario.datanascimento}">
									<f:validateLength minimum="3" maximum="50" for="nascimento"/>
									<h:message class="errorlog" for="nascimento" />	
								</h:inputText>
    					</div>
    				</div>
    				
    				<div class="col-md-4">
						<div class="form-group">
      						<h:outputLabel value="Endereço" for="endereco" />
      							<h:inputText name="endereco" id="endereco" class="form-control" label="Endereço" value="#{usuarioBean.usuario.endereco}">
									<f:validateLength minimum="3" maximum="150" for="endereco"/>
									<h:message class="errorlog" for="endereco" />	
								</h:inputText>
    					</div>
    				</div>
    				
    				<div class="col-md-1">
						<div class="form-group">
      						<h:outputLabel value="Nº" for="numero" />
      							<h:inputText name="numero" id="numero" class="form-control" label="Nº" value="#{usuarioBean.usuario.numero}">
									<f:validateLength minimum="3" maximum="150" for="numero"/>
									<h:message class="errorlog" for="numero" />	
								</h:inputText>
    					</div>
    				</div>
    				
    				<div class="col-md-3">
						<div class="form-group">
      						<h:outputLabel value="Bairro" for="bairro" />
      							<h:inputText name="bairro" id="bairro" class="form-control" label="bairro" value="#{usuarioBean.usuario.bairro}">
									<f:validateLength minimum="3" maximum="150" for="bairro"/>
									<h:message class="errorlog" for="bairro" />	
								</h:inputText>
    					</div>
    				</div>
    				
    				<div class="col-md-5">
						<div class="form-group">
      						<h:outputLabel value="Complemento" for="complemento" />
      							<h:inputText name="complemento" id="complemento" class="form-control" label="Complemento" value="#{usuarioBean.usuario.complemento}">
									<f:validateLength minimum="3" maximum="150" for="complemento"/>
									<h:message class="errorlog" for="complemento" />	
								</h:inputText>
    					</div>
    				</div>
    				
    				<div class="col-md-3">
						<div class="form-group">
      						<h:outputLabel value="CEP" for="cep" />
      							<h:inputText name="cep" id="cep" class="cep form-control" label="CEP" value="#{usuarioBean.usuario.cep}">
									<f:validateLength minimum="3" maximum="50" for="cep"/>
									<h:message class="errorlog" for="cep" />	
								</h:inputText>
    					</div>
    				</div>    				    				  					   				   		   		
    			</div> <!-- FIM - ROW -->
    			
    			<div class="row">
					<h:messages class="errorlog" />	
    			</div> <!-- FIM - ROW -->    					
       		</FIELDSET>
		</h:form>
	</ui:define>		
</ui:composition>