<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sec="http://www.springframework.org/security/facelets/tags"
	xmlns:p="http://primefaces.prime.com.tr/ui">
	
<ui:composition template="/WEB-INF/templates/login-template.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="conteudo">
								
		<!-- <h:panelGroup rendered="#{!empty param.login_error}">
			<h:outputLabel class="errorlog" value="Motivo: #{SPRING_SECURITY_LAST_EXCEPTION.message}" />			
		</h:panelGroup> -->
		<div class="row">
		<div class="login col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
				<form id="login" method="post" action="${request.contextPath}/j_spring_security_check">
					
					<h:messages class="errorlog" />
			
					<div class="form-group">
						<label>Login</label>
						<input type='text' name='j_username' id='j_username' class="form-control input-lg" />
						<h:panelGroup rendered="#{!empty param.login_error}">
							<span class="errorlog"> * Erro ao efetuar o login (login ou senha inválidos).</span>
						</h:panelGroup>	
					</div>
								
					<div class="form-group">
						<label>Senha</label>
						<input type='password' name='j_password' id="j_password" class="form-control input-lg" />
						<h:message for="j_password" />
						<br/>
						<input type="checkbox" name="_spring_security_remember_me" id="check" value="" />
						<label>Entrar automaticamente</label>		
					</div>
				
					<input type="submit" value="Entrar" class="btn btn-default btn-lg"/>
					<script>
						document.getElementById("login").j_username.value = "#{SPRING_SECURITY_LAST_USERNAME}";
					</script>
												
		</form>
		</div>
		</div>	
			<div class="col-xs-offset-8 col-md-offset-0">
		<!-- Registro de Administradores -->
		<h:form>
			<h:commandLink action="#{usuarioBean.novo}" value="Registrar-se">
				<f:setPropertyActionListener value="admin-cad" target="#{usuarioBean.formDestino}" />
				<f:setPropertyActionListener value="login" target="#{usuarioBean.destinoSalvar}" />
				<f:setPropertyActionListener value="1" target="#{usuarioBean.usuario.ativo}"/>
				<f:setPropertyActionListener value="0" target="#{usuarioBean.usuario.tipo}"/>
			</h:commandLink>
		</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>