<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition template="/WEB-INF/templates/default.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="titulo">
    	<h:outputText value="Despesas" />
	</ui:define>	
			
	<ui:define name="conteudo">
		<div class="col-md-offset-0">	
		<div class="row">
				<h:form>
					<h:commandLink action="despesa-form" class="btn btn-default btn-lg" value="Nova despesa"/>
					<h:link class="btn btn-default btn-lg" value="Cancelar" onclick="history.back();" />					
				</h:form>				
			</div>
		
		<div class="row">
			<div class="col-md-12">
				<hr/>
				<ui:include src="despesa-list.xhtml" />
			</div>
		</div>
	</div>		
						
	</ui:define>		
</ui:composition>