<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:sec="http://www.springframework.org/security/facelets/tags">
<h:head>


<META HTTP-EQUIV="Refresh" CONTENT="0;URL=../restrito/#{despesaBean.destinoSalvar}.jsf" />

</h:head>
	
</html>