<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition template="/WEB-INF/templates/default.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="titulo">
    	<h:outputText value="Gerenciador" />
	</ui:define>
	
	<f:metadata>  
    	<f:event type="preRenderView" listener="#{financeiroBean.atualizacaoFinanceira}"/>  
	</f:metadata>
		
	<ui:define name="conteudo">
	<h:form>
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="financeiro" id="financeiro" class='modules financeiro'>
			<h:outputLabel>Financeiro</h:outputLabel>
		</h:link>		
	</div>
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="rendaadicional" id="rendaadicional" class='modules rendaadicional'>
			<h:outputLabel>Renda adicional</h:outputLabel>
		</h:link>		
	</div>	
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:commandLink action="#{despesaBean.carregarDebitos}" id="despesa" class='modules despesa'>
			<h:outputLabel>Despesas fixas</h:outputLabel>
		</h:commandLink>		
	</div>
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="despesavariavel" id="despesavariavel" class='modules despesavariavel'>
			<h:outputLabel>Despesas extras <span class="hidden-xs hidden-sm hidden-md">(Temporárias)</span></h:outputLabel>
		</h:link>		
	</div>
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="movimentacoes" id="movimentacoes" class='modules movimentacoes'>
			<h:outputLabel>Movimentações</h:outputLabel>
		</h:link>		
	</div>	
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="economia" id="economia" class='modules economia'>
			<h:outputLabel>Reserva econômica</h:outputLabel>
		</h:link>		
	</div>
		
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="parcelada" id="parcelada" class='modules parcelada'>
			<h:outputLabel>Compras parceladas</h:outputLabel>
		</h:link>		
	</div>
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="cota" id="cota" class='modules cota'>
			<h:outputLabel>Cotas</h:outputLabel>
		</h:link>		
	</div>	
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="relatorio" id="relatorio" class='modules relatorio'>
			<h:outputLabel>Relatórios</h:outputLabel>
		</h:link>		
	</div>
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="grafico" id="grafico" class='modules grafico'>
			<h:outputLabel>Gráficos</h:outputLabel>
		</h:link>		
	</div>
	
	<div class='col-xs-6 col-sm-4 col-md-3 block'>
		<h:link outcome="configuracoes" id="configuracoes" class='modules configuracoes'>
			<h:outputLabel>Configurações</h:outputLabel>
		</h:link>		
	</div>		
	</h:form>					
	</ui:define>		
</ui:composition>