<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition template="/WEB-INF/templates/default.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="titulo">
    	<h:outputText value="Relatório" />
	</ui:define>
	
	<ui:define name="conteudo">
				
				
				
	</ui:define>		
</ui:composition>