.container{
	padding-top: 2px;
}
.login{
	padding-top: 20px;
}
body{
	font: 18px Arial;
	margin: 0;
	background-color: #EEEEEE;
}
.errorlog{
	color: red;
	font-size: 13px;
	font-style: italic;
}

#logo{
	margin: 5px 5px 5px 10px;
	height: 80%;
	width: auto;
}

#header #user-alert{
	float:right;
	margin: 5px 25px 5px 10px;
	height: 80%;
	width: auto;
}

#header #msg-dialog{
	float:right;
	margin: 5px 25px 5px 10px;
	height: 80%;
	width: auto;
}

#header #edit-user{
	float:right;
	margin: 5px 10px 5px 10px;
	height: 80%;
	width: auto;
}

#header #logout {
	float:right;
	margin: 5px 20px 5px 10px;
	height: 80%;
	width: auto;
}

#header .bemvindo{
	margin:10px;		
}

.img-alter-pass{
	height: 50px;
	width: auto;
}

.img-rem-alter-pass{
	height: 50px;
	width: auto;
}

h1{
	margin: 0;
	padding: 16px 0;
	color: #0000;
	font: bold 40px Arial;
}

h2{
	font: bold 24px Arial;
	color: #595959;
}

a{
	color: #3a34c3;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* .dados{
	border-collapse: collapse;
}

.dados td,.dados th{
	border: 1px solid #0000c6;
	padding: 3px 7px 2px 7px;
}

.dados th{
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #156bbd;
	color: #ffffff;
}

.dados tr.impar td{
	color: #0000;
	background-color: #d4d4d9;
}

.dados tr.par td{
	color: #000000;
	background-color: #f6f6fa;
} */


.options{
	color:#0095a9;
	display:block;
	width:90px;
	min-height:60px;
	padding-botom:0;
	background: #252525;
	color:#FFF;
	text-align:center;
	box-shadow:#000 1px 1px 3px;
	float:left;
	border:0;
	margin: 10px 10px 20px 0;
}

.options span{
	font-size: 1.2em;
	display:block;
	}

.options label{
	font-size: 0.5em;
	margin-bottom:0;
	line-height:2ex;
	}

.options:hover{
		color:#FFF;
		text-decoration:none;
		background: black;
	}
.options:active{
		background: black;
		box-shadow:#000 -1px -1px 3px;
		border:0;
	}

/* input{
	font-size: 16px;
	border: 1px solid #0000c6;
	background-color : #f6f6fa;
} */

select{
	font-size: 16px;
	border: 1px solid #0000c6;
	background-color : #f6f6fa;
}

#header{
	width:100%;
	height: 50px;
	display: block;
	color: #FFFFFF;
	background-color : #252525;
	/* padding: 0 0px 28px 0; */	
}

#header a{
	color: #FFFFFF;
	font: bold 24px Arial;
}

/* Página de configurações (Usuário)  */

.edit-user-black{
	float: left;
	margin:0;
	height: 40px;
	width: auto;
}

/* Página de configurações (Usuário)  */

div .block{
	padding:2px;	
}

.modules{
	height: 150px;
   	display:block;
   	background-repeat: no-repeat;
   	background-position: center 30%;
   	background-size: auto 45%;
   	background-color: #252525;   	  	
}

.modules:hover{
	text-decoration: none;
	background-color: black;		
}

.modules label{
	margin-top: 125px; 
	margin-left: 10px; 
	color: #FFF;  
	font-size: 16px; 
}

.caracRest{
	font-size: 12px;
	color: threeddarkshadow;
}

/* FINANCEIRO */

.financrenda{
	font-size: 60px;
	color: gray;
	margin: 2px;	
}

.financtitulorenda{
	margin-left: 10px;
	margin-bottom: 0;	
}

.financDesc{
	font-size: 18px;
}

.financForma{
	font-size: 12px;
}

.reservaEcon{
	float: left;
}

/* FINANCEIRO */



/* Módulos do Usuário Comum */

.financeiro{
	background-image: url('../resources/imagens/icon/icon-sales.png');
}

.configuracoes{
	background-image: url('../resources/imagens/icon/icon-config.png');
}

.cota{
	background-image: url('../resources/imagens/icon/icon-money03.png');
}

.despesa{
	background-image: url('../resources/imagens/icon/icon-money.png');
}

.despesavariavel{
	background-image: url('../resources/imagens/icon/icon-time-money.png');
}

.parcelada{
	background-image: url('../resources/imagens/icon/icon-cartao.png');
}

.grafico{
	background-image: url('../resources/imagens/icon/icon-financial01.png');
}

.relatorio{
	background-image: url('../resources/imagens/icon/icon-relatorio.png');
}

.rendaadicional{
	background-image: url('../resources/imagens/icon/icon-rendaadd.png');
}

.economia{
	background-image: url('../resources/imagens/icon/icon-economia.png');
}

.movimentacoes{
	background-image: url('../resources/imagens/icon/icon-money02.png');
}

/* Módulos do Administrador */

.familia{
	background-image: url('../resources/imagens/icon/icon-08.png');
}

.usuario{
	background-image: url('../resources/imagens/icon/icon-user.png');
}

.admin{
	background-image: url('../resources/imagens/icon/icon-admin.png');
}

.teste{
	background-image: url('../resources/imagens/icon/icon-modules.png');
}